In [41]:
import numpy as np
import pandas as pd
import math

In [49]:
def funcionIntegral(t, w):
    r = (math.pow(math.e, t) * math.sin(2*t + 8)) / (1 - t + t**2) 
    return r

In [50]:
def rk1(h, t, w):
    r = h * funcionIntegral(t, w)
    return r

In [51]:
def rk2(h, t, w, vk1):
    r = h * funcionIntegral(t + h/2, w + vk1/2)
    return r

In [52]:
def rk3(h, t, w, vk2):
    r = h * funcionIntegral(t + h/2, w + vk2/2)
    return r

In [53]:
def rk4(h, t, w, vk3):
    r = h * funcionIntegral(t + h, w + vk3)
    return r

In [83]:

intervalo = np.linspace(2.1, 8, 60)

#print(intervalo)

h = 0.1
wi = 0

tablita = pd.DataFrame(columns=['ti', 'wi', 'k1', 'k2', 'k3', 'k4'])

vrk1 = rk1(h, 2, 0)
vrk2 = rk2(h, 2, 0, vrk1)
vrk3 = rk3(h, 2, 0, vrk2)
vrk4 = rk4(h, 2, 0, vrk3)

tablita.loc[len(tablita)] = (2, 0, vrk1, vrk2, vrk3, vrk4)

for i in intervalo:
    wi = wi + (1/6)*(vrk1 + 2*vrk2 + 2*vrk3 + vrk4)
    vrk1 = rk1(h, i, 0)
    vrk2 = rk2(h, i, 0, vrk1)
    vrk3 = rk3(h, i, 0, vrk2)
    vrk4 = rk4(h, i, 0, vrk3)
    tablita.loc[len(tablita)] = (i, wi, vrk1, vrk2, vrk3, vrk4)

tablita

     ti         wi        k1        k2        k3        k4
0   2.0   0.000000 -0.132159 -0.110795 -0.110795 -0.088379
1   2.1  -0.110620 -0.088379 -0.065077 -0.065077 -0.041060
2   2.2  -0.175578 -0.041060 -0.016505 -0.016505  0.008405
3   2.3  -0.192024  0.008405  0.033481  0.033481  0.058532
4   2.4  -0.158546  0.058532  0.083358  0.083358  0.107762
..  ...        ...       ...       ...       ...       ...
56  7.6   1.330392 -3.652722 -3.911492 -3.911492 -4.144235
57  7.7  -2.576762 -4.144235 -4.346297 -4.346297 -4.513018
58  7.8  -6.917169 -4.513018 -4.639779 -4.639779 -4.722059
59  7.9 -11.549534 -4.722059 -4.755496 -4.755496 -4.735949
60  8.0 -16.296200 -4.735949 -4.659559 -4.659559 -4.522817

[61 rows x 6 columns]