In [20]:
import numpy as np
import math 
import pandas as pd

In [ ]:
def funcioncita(x):
    pass

In [3]:
def f2(Yi, h):
    r = Yi - h*(0.06 * math.sqrt(Yi)) - (h**2/2)*((0.06**2)/2) # + (h**3/6)*(Yi - Ti**2 - 2*Ti - 1)
    return r

In [1]:
def f(Yi, Ti, h):
    r = Yi + h*(Yi - Ti**2 + 1) + (h**2/2)*(Yi - Ti**2 - 2*Ti + 1) + (h**3/6)*(Yi - Ti**2 - 2*Ti - 1)
    return r

In [84]:
def f4(Yi, Ti, h):
    r = Yi + h*(Yi - Ti**2 + 1) + (h**2/2)*(Yi - Ti**2 - 2*Ti + 1) + (h**3/6)*(Yi - Ti**2 - 2*Ti - 1) + (h**4/24)*(Yi - Ti**2 - 2*Ti - 1)
    return r

In [54]:
def fExacta(t):
    r = t**2 + 2*t + 1 - 0.5*(math.e**t)
    return r

In [85]:
def euler(Yi, h):
    r = Yi + h*(0.026)*(1 - (Yi/12000))*Yi  
    return r

In [88]:
def taylorswift(Yi, h):
    # r = Yi + h*(0.026)*(1 - (Yi/12000))*Yi +  (h**2/2)*((0.026)*(0.026*Yi - (0.026/12000)*(Yi**2)) -  (4.33*(10**-6))*Yi*((0.026*Yi) - (0.026/12000)*(Yi**2)))
    r = euler(Yi, h) + (h**2/2)*(0.026**2)*(1 - (2*Yi/12000))*(Yi - (Yi**2/12000))
    return r

In [1]:

condicion_inicial = 2555

h = 1

tablita = pd.DataFrame(columns=['año', 'poblacion', 'poblacion taylor'])
anio = 1950
tablita.loc[len(tablita)] = (anio, 2555, 2555)

Yi = euler(condicion_inicial, h)
YiTS = taylorswift(condicion_inicial, h)

tablita.loc[len(tablita)] = (anio+1, Yi, YiTS)
htablita = h + 1


while(anio < 2000):
    Yi = euler(Yi, h)
    YiTS = taylorswift(YiTS, h)

    htablita += 1
    anio += 1
    tablita.loc[len(tablita)] = (anio, Yi, YiTS)

tablita

NameError: name 'pd' is not defined

In [18]:

condicion_inicial = 3
# intervaloT = np.linspace(0,2,11)
h = 0.5

# ti = np.linspace(a, b, n+1)

tablita = pd.DataFrame(columns=['k', 'F2'])

Yi = f2(condicion_inicial, h)
# Yi4 = f2(condicion_inicial, h)
tablita.loc[len(tablita)] = (h + 0.5, Yi)
htablita = h + 0.5

while(f2(Yi, h) >= 0):
    Yi = f2(Yi, h)
    htablita += 0.5
    #Yi4 = f(Yi4, h)
    tablita.loc[len(tablita)] = (htablita, Yi)

"""for i in range(1, len(ti) - 1):
    Yi = f(Yi, ti[i], h)
    Yi4 = f4(Yi4, ti[i], h)
    tablita.loc[len(tablita)] = (Yi, Yi4, fExacta(ti[i+1]), abs(Yi - fExacta(ti[i+1])), abs(Yi4 - fExacta(ti[i+1])))
    """
tablita

        k        F2
0     1.0  2.947813
1     1.5  2.896081
2     2.0  2.844802
3     2.5  2.793978
4     3.0  2.743607
..    ...       ...
105  53.5  0.010071
106  54.0  0.006836
107  54.5  0.004130
108  55.0  0.001977
109  55.5  0.000418

[110 rows x 2 columns]

In [85]:

condicion_inicial = 0.5
# intervaloT = np.linspace(0,2,11)
n = 10
a = 0
b = 2
h = (b-a)/n

ti = np.linspace(a, b, n+1)

tablita = pd.DataFrame(columns=['F3', 'F4', 'Solución Exacta', 'Error f3', 'Error f4'])

Yi = f(condicion_inicial, ti[0], h)
Yi4 = f4(condicion_inicial, ti[0], h)
tablita.loc[len(tablita)] = (Yi, Yi4, fExacta(ti[1]), abs(Yi - fExacta(ti[1])), abs(Yi4 - fExacta(ti[1])))

for i in range(1, len(ti) - 1):
    Yi = f(Yi, ti[i], h)
    Yi4 = f4(Yi4, ti[i], h)
    tablita.loc[len(tablita)] = (Yi, Yi4, fExacta(ti[i+1]), abs(Yi - fExacta(ti[i+1])), abs(Yi4 - fExacta(ti[i+1])))
    
tablita

         F3        F4  Solución Exacta  Error f3  Error f4
0  0.829333  0.829300         0.829299  0.000035  0.000001
1  1.214172  1.214091         1.214088  0.000085  0.000003
2  1.649096  1.648947         1.648941  0.000155  0.000006
3  2.127483  2.127240         2.127230  0.000253  0.000010
4  2.641245  2.640874         2.640859  0.000386  0.000015
5  3.180508  3.179964         3.179942  0.000566  0.000022
6  3.733207  3.732432         3.732400  0.000807  0.000032
7  4.284610  4.283529         4.283484  0.001126  0.000045
8  4.816723  4.815238         4.815176  0.001547  0.000061
9  5.307571  5.305555         5.305472  0.002099  0.000083

In [89]:
def helloWorld(c):
    print(c)

In [90]:
helloWorld("print")

print

In [ ]:
def func(t, y):
    pass

In [56]:
def taylorSegundoOrden(yi, h):
    r = yi + h*(-9.81 - (((0.002)*(yi*abs(yi)))/0.11)) + (((h*h)/2)*(-0.002/0.11)*((2*yi*yi)/abs(yi))*(-9.81 - (((0.002)*(yi*abs(yi)))/0.11)))
    return r

In [ ]:
def tso(yi, h):
    r = yi + (h*(-9.81 - (1/55)*(yi*abs(yi)))) + ((h*h/2)*())
    return r

In [57]:

condicion_inicial = 8
intervaloT = np.linspace(0.2,1,9)
print(intervaloT)

tablita = pd.DataFrame(columns=['h', 'yi'])

tablita.loc[len(tablita)] = (0.0, condicion_inicial)
yi = taylorSegundoOrden(condicion_inicial, 0.1)
tablita.loc[len(tablita)] = (0.1, yi)

for h in intervaloT:
    yi = taylorSegundoOrden(yi, h)
    tablita.loc[len(tablita)] = (h, yi)
    
tablita

[0.2 0.3 0.4 0.5 0.6 0.7 0.8 0.9 1. ]

      h         yi
0   0.0   8.000000
1   0.1   6.904632
2   0.2   4.777037
3   0.3   1.726295
4   0.4  -2.190682
5   0.5  -7.096249
6   0.6 -12.491120
7   0.7 -17.434433
8   0.8 -20.911048
9   0.9 -22.612076
10  1.0 -23.134941